<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <util:constant id="in" static-field="java.lang.System.in"/>
<bean id="reader" class="java.io.InputStreamReader">
    <constructor-arg name="in" ref="in"/>
</bean>
    <bean id="br" class="java.io.BufferedReader">
    <constructor-arg name="in" ref="reader"/>
</bean>
    <bean id="validationService" class="com.Kutugin.validators.impl.ValidationServiceImpl"/>
    <bean id="productDao" class="com.Kutugin.dao.impl.H2DB.ProductDBDao"/>
    <bean id="productService" class="com.Kutugin.services.impl.ProductServiceImpl">
        <constructor-arg name="productDao" ref="productDao"/>
    </bean>
    <bean id="clientDao" class="com.Kutugin.dao.impl.H2DB.ClientDBDao"/>
    <bean id="init" class="com.Kutugin.dao.impl.H2DB.InitDB"/>
    <bean id="clientService" class="com.Kutugin.services.impl.ClientServiceImpl" autowire="constructor"/>
        <!--<constructor-arg name="clientDao" ref="clientDao"/>-->
        <!--<constructor-arg name="validationService" ref=""/>-->
    <!--</bean>-->
    <bean id="adminMenu" class="com.Kutugin.view.AdminMenu" autowire="constructor"/>
    <bean id="orderDao" class="com.Kutugin.dao.impl.H2DB.OrderDBDao" autowire="constructor"/>
    <bean id="orderService" class="com.Kutugin.services.impl.OrderServiceImpl" autowire="constructor"/>
    <bean id="clientMenu" class="com.Kutugin.view.ClientMenu" autowire="constructor"/>
    <bean id="mainMenu" class="com.Kutugin.view.MainMenu" autowire="constructor"/>
        <!--<constructor-arg name="clientService" ref="clientService"/>-->
        <!--<constructor-arg name="br" value="bufferedReader"/>-->
        <!--<constructor-arg name="init" value="init"/>-->
        <!--<constructor-arg name="validator" value="validationService"/>-->
        <!--<constructor-arg name="productService" value="productService"/>-->
    <!--</bean>-->
</beans>